atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

teamocil.symlink/*
!teamocil.symlink/sample.yml

git/gitconfig.local.symlink

vscode/User/workspaceStorage/
